{% extends "newsportal/base.html" %}
{% block content %}

<div class="container py-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for category in categories %}
            <div class="col">
                <div class="card h-100 shadow-sm list-item-card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="all_categories.html"><i class="{{ category.icon }} me-2"></i>{{ category.name|title }}</a>
                        </h5>
                        <p class="card-text">{{ category.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}